main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 24px;
}

.form-elements {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.form-elements label {
    font-size: 18px;
}

.form-input {
    border: 1px solid var(--indigo);
    outline: none;
    border-radius: 4px;
    font-size: 18px;
}

.form-input:not(.form-textarea) {
    height: 35px;
}

.form-texarea {
    resize: none;
}

.form-input:focus {
    box-shadow: 2px 1px 46px -14px var(--indigo);
}

.btn-div {
    text-align: center;
}

#submit {
height: 40px;
background-color: var(--pink);
border: none;
border-radius: 4px;
min-width: 120px;
font-size: 18px;
color: var(--indigo);
}

#submit:hover {
    cursor: pointer;
    background-color: var(--sage);
}

@media screen and (min-width: 600px) {

    form {
        width: 500px;
    }
    
    .form-elements {
        flex-direction: row;
        justify-content: space-between;
    }

    .form-input {
        width: 70%;
    }
}