:root {
    --richblack: #0D1821;
    --indigo: #344966;
    --pink: #E6AACE;
    --white: #F0F4EF;
    --sage: #BFCC94;
}

body {
    margin: 0;

    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    justify-content: space-between;
}
a {
    color: var(--pink);
}
header{
    background-color: var(--indigo);
    text-align: center;
    padding: 1rem;
}

.logo-name a img {
    height: 100px;
}

.name {
    font-size: 20px;
}

.pez-text {
 color: var(--pink)
}

.design-text {
    color: var(--white)
}

#nav-items {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
}

#nav-items a {
    text-decoration: none;
    color:var(--white);
}

#nav-items a:hover {
    color: var(--pink);
}

a.current {
    color: var(--pink) !important;
}

/* Desktop header styling */
@media screen and (min-width:600px) {

    header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    #nav-items {
        width: 50%
    }

    .name {
        margin-bottom: 0;
    }
    
}

footer {
    background-color: var(--indigo);
    text-align: center;
    padding: 1rem;
}

.social-media {
    display: flex;
    justify-content: space-around;
    margin-bottom: 24px;
}

.social-media i {
    font-size: 1.5rem;
    color: var(--pink);
}

.info {
    color: var(--white);
}

.info p {
    margin: 5px 0;
}

/* Desktop footer styling */
@media screen and (min-width:600px) {

    .social-media {
        width: 20%;
        margin-left: auto;
        margin-right: auto;
    }
    
}

